.blinker {
  animation: blinker var(--frequency) linear infinite alternate;
  animation-delay: var(--delay);
}

@keyframes blinker {
  0% {
    opacity: var(--deep);
  }
  50% {
    opacity: calc(var(--deep) + 0.5);
  }
  100% {
    opacity: 1;
  }
}
