.blinker {
  animation: blinker var(--frequency) linear infinite alternate;
  animation-delay: var(--delay);
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
