.start-stop-action {
  --font-size-action-element: var(--font-size-big-action-element);
  --border-radius-action-element: var(--border-radius-big-action-element);
  --padding-action-element: var(--padding-big-action-element);
  .start {
    color: green;
  }
  .stop {
    color: orange;
  }
}
