.start-stop-action {
  position: relative;
  --font-size-action-element: var(--font-size-big-action-element);
  --border-radius-action-element: var(--border-radius-big-action-element);
  --padding-action-element: var(--padding-big-action-element);
  .action {
    opacity: 0;
    transition: transform 0.5s linear, opacity 0.5s linear;
  }
  .action:has(~ div) {
    opacity: 1;
    transform: translateY(calc(-1*var(--padding-big-action-element)));
  }
  .action + div{
    position: relative;
    top: calc(-1*var(--padding-big-action-element));
  }
}
