.grid {
  display: grid;
  grid-template-columns: repeat(var(--self-columns), 1fr);
  gap: var(--gap-s);
  justify-content: center;
  align-items: center;
  .header {
    color: var(--color-text-description);
  }
}
