.focus-activity {
  width: 100%;
  .focus-activity-input {
    margin: auto;
    padding-bottom: 1rem;
    > div {
      gap: 1rem;
    }
  }
}

.activity-in-action {
  width: 100%;
  .time {
    font-size: 0.7rem;
  }
}

